body{
    font-size: 16px;
}
.navigation,
.header{
    display:flex;
    align-items:center;
    background-color: inherit;
    height:8vh;
    border-bottom: 1px solid darkgray
}

.navigation {
    padding: 0 10rem 0 10rem;
    justify-content: space-between;
    font-size: 1.3rem
}

.header li a,
.nav-logo a{    
    list-style-type: none;
    text-decoration: none;
    color:white;    
}
.header li a{
    margin-left:1rem
}

.header li .active
 {
    color:#F9A7B0;
    /* background-color:#F9A7B0; */
}

 /* .nav-logo .active{
    color:#F9A7B0;
}  */



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;  
  color: gray;
  text-align: center;
  border-top: 1px solid darkgray;
  line-height: 2rem;
  height: 2rem;
}